/* Merriweather – regular */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-v32-latin-regular.woff2') format('woff2');
}

/* Merriweather – bold */
@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/merriweather-v32-latin-700.woff2') format('woff2');
}

/* Cabin – regular */
@font-face {
  font-display: swap;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cabin-v34-latin-regular.woff2') format('woff2');
}

/* Cabin – bold */
@font-face {
  font-display: swap;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cabin-v34-latin-700.woff2') format('woff2');
}
